#content {
  border: 1.5px solid var(--content-border-color);
  border-radius: 12px;
  padding: 1rem 1.5rem;
  line-height: 1.5;
}

#content > *:first-child { margin-top: 0 !important; }
#content > *:last-child { margin-bottom: 0 !important; }

#content img {
  display: block;
  max-width: min(75%, 280px);
  margin: 0 auto;
  box-shadow: var(--color-avatar-shadow);
}
#content .gallery img {
  max-width: 100%;
  width: 100%;
}

#article-data {
  border-top: 1.5px solid var(--color-border-muted);
  padding-top: 1rem;
  margin-top: 1rem;
}
#article-data ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#article-data li {
  display: grid;
  grid-template-columns: 110px 1fr;
  color: var(--color-fg-subtle);
}
#article-data li+li { margin-top: 0.5rem; }
#article-data img {
  width: 23px;
  height: 23px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  border-radius: 50%;
  box-shadow: var(--color-avatar-shadow);
}
#article-data a.btn {
  background-color: transparent;
  color: var(--color-fg-yellow);
  text-decoration: none;
  margin-right: 4px;
  margin-bottom: 4px;
  font-family: var(--font-family-alt);
}
#article-data a.btn:hover {
  border-color: var(--color-fg-yellow);
}

#taxonomy { list-style-type: none; padding: 0; }
#taxonomy a.btn {
  color: var(--color-fg-yellow);
  font-family: var(--font-family-alt);
  background-color: transparent;
  margin-right: 4px;
  margin-bottom: 4px;
}
#taxonomy a.btn:hover { border-color: var(--color-fg-yellow); text-decoration: none; }
#taxonomy .Counter { background-color: var(--color-bg-orange-light); }
#taxonomy li { display: inline-block; }

/* Reponsive Design */
@media (min-width: 768px) {
  #content img { max-width: 260px; }
}
@media (min-width: 1024px) {
  #content img { max-width: 300px; }
}
