.math-env {
  display: block;
  border: 1px solid var(--color-fg-blue);
  margin: 1rem auto;
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
}
.math-env > *:last-child {
  margin-bottom: 0 !important;
}

.math-env-alt {
  display: block;
  border: 1px solid var(--color-fg-default);
  margin: 1rem auto;
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
}
.math-env-alt > *:last-child {
  margin-bottom: 0 !important;
}

.math-env-plain {
  display: block;
  width: 100%;
  margin: 1rem 0;
}
.math-env-plain > *:last-child {
  margin-bottom: 0 !important;
}

span.qed {
  float: right;
}
