{{ define "main" }}

<h1 class="content-title">{{ .Title }}</h1>

<p>
Welcome to my blog! You can browse it by <a href="/blog/categories/">categories</a>,
or by year at the end of this page.
</p>

{{ .Content }}

{{ range .Pages.GroupByDate "2006" }}
<h2 style="color: var(--color-fg-magenta);">{{ .Key }}</h2>
<ul class="date-and-entry">
  {{ range .Pages }}
  <li>
  <span><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Jan 02, 2006" }}</time></span>
  <a href="{{ .Permalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}

{{ end }}
